*{
    margin: 0;padding: 0;box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Prompt', sans-serif;
    user-select: none;
}

/* Utility */

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

img{
    width: 100%;
}

/* Inizio Main */

.container{
    height: 100vh;
    position: relative;
}

.container>.shoes{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container p{
    color: yellow;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0px 100px;
    line-height: 60px;
    font-weight: bold;
    word-spacing: 30px;
}

.bg-yellow p{
    color: green;
}

.buttons a{
    text-decoration: none;
    color: black; 
}

.buttons a{
    display: inline-block;
    line-height: 35px;
    background-color: rgb(255, 255, 255); 
    border-radius: 50%;  
    height: 35px;
    width: 35px;
    font-size: 0.8rem;
    text-align: center;
    margin-left: 25px;
    font-weight: 900;
    transition: transform .2s;
}

.buttons{
    position: fixed;
    top: 25px;
    right: 40px;
    
}

.buttons a:hover{
    transform: scale(1.2);
    font-size: 15px;
}

#site_main{
    position: relative;
}